.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.resume-card {
  margin: 10px ;
}

mat-card {
  background-color: #142028;
  color: lightgrey;
  max-height: 300px;
}

mat-card-subtitle {
  color: lightgray;
}

.around-logo {
  position: relative;
  float: right;
  bottom: 66px;
}

mat-divider {
  border-color: #aaebf1;
}

.description {
  text-align: center;
  clear: right;
}

.chart-container {
  padding: 10px;
  max-width: 1000px;
  height: 400px;
margin-left: 60px;
}
