<div class="popup-container">
  <img class="popup-img" src="/assets/img/popup/popup0.png">
</div>
<div class="title-container">
  <h1 class="title-page">TRADE</h1>
</div>

<div class="trade-container">
  <div class="chart-cont">
    <app-chart [symbolPair]="'BTCUSDT'" [width]="900" [height]="450"></app-chart>
  </div>
  <mat-card class="form-container">
    <mat-card-title align="center">Trade tokens in an instant</mat-card-title>


    <form [formGroup]="form" class="normal-form" (ngSubmit)="sendTradeOrder()" >
      <div class="element-form" align="center">
        <mat-radio-group formControlName="orderType">
          <mat-radio-button value="BID">Buy</mat-radio-button>
          <mat-radio-button value="ASK">Sell</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="input-form">
        <mat-label *ngIf="form.get('orderType')!.value =='BID'">Enter amount to buy</mat-label>
        <mat-label *ngIf="form.get('orderType')!.value =='ASK'">Enter amount to sell</mat-label>
        <input formControlName="amount" class="form-control" placeholder="Amount" required >
      </div>
      <div class="input-form">
        <mat-label>Enter your limit price</mat-label>
        <input formControlName="limitPrice" class="form-control" placeholder="Limit price" required>
      </div>
      <div class="btn-submit">
        <button *ngIf="form.get('orderType')!.value =='BID'"
                type="submit" mat-raised-button color="primary" >BUY</button>
        <button *ngIf="form.get('orderType')!.value =='ASK'"
                type="submit" mat-raised-button color="warn" >SELL</button>
      </div>
    </form>
    <div *ngIf="isTransfer" class="success-container">
      <mat-icon class="done-logo">check_circle_outline</mat-icon>
      <h3>Successfully ! </h3>
    </div>
  </mat-card>
</div>



