table {
  width: 80%;
  background-color: #142028;
  color: white;
  margin: 0 auto;
}

th {
  color: white;
  font-size: 22px;
}

td {
  color: white;
  font-size: 18px;
}

.mat-row:hover .mat-cell{
  background-color: #0b1217;
}
